html {
    background: rgb(252, 252, 252);
}


header {
    background-color:whitesmoke;
    color: rgb(44, 43, 43);
}



#navbar {
    overflow: hidden;
    background-color: rgba(157, 211, 150, 0.836);
    
  }
  
#navbar a {
    float: left;
    color: #fffefe;
    text-align: center;
    padding: 7px;
    
  }
.sticky, #navbar {
    position: fixed;
    top: 0;
    width: 100%;
}
  

body {
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
    margin: 40px;
    padding: 40px;
    color: #242424;
    border-top: 10px solid #242424;
    border-bottom: 10px solid #242424;
    background: whitesmoke;
}



h1 {
    font-size: 3em;
    margin: 0;
}

p {
    line-height: 1.4em;
}

#blog {   
    display: flex;
    border-top: 5px solid black;
}

article {
    padding: 20px;
    margin: 20px;
}

article:nth-of-type(1) {
    flex: 6;
    background: rgba(157, 211, 150, 0.836);
}

article:nth-of-type(2) {
    flex: 5;
    background: rgba(157, 211, 150, 0.836);
}

.dog {
    float: left;
    margin-right: 10px;

}

.bigfish {
    float: left;
    margin-right: 10px;

}

.blog-post {
    border-bottom: 1px solid black;
}

#sub {
    border-top: 10px solid rgba(157, 211, 150, 0.836);
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;  
}



@media screen and (max-width: 600px) {
    body {
      background-color: blue;
    }
  }
